description = "About me section of the home page"
==
<h2 class="text-center">About Me</h2>
<img class="my-2" src="{{ 'assets/images/profile.jpg' | theme }}">
<h3 class="text-center">My Self</h3>
<p class="text-center">Hello folks! My name is Gavyn. I live in Bakersfield, Vermont. I am a mostly self-taught developer with years of development experience. I started learning to code with Codecademy in January of 2013. Since then I've filled my days with hundreds of books, articles, video's, and projects. Today I still strive to be the best developer I can be and I continue to learn new things every day.</p>
<h3 class="text-center">My Skills</h3>
