description = "About me section of the home page"
==
<h1 class="text-center">About Me</h1>
<img class="my-2" src="{{ 'assets/images/profile.jpg' | theme }}">
<h3 class="text-center">My Self</h3>
<p class="text-center">Web Developer, aspiring Software Developer, and otherwise hobbyist extraordinaire.</p>
<h3 class="text-center">My Skills</h3>
<p class="text-center">Languages</p>
<p class="text-center">HTML5/CSS3, Javascript, PHP, C#</p>
<p class="text-center">Frameworks</p>
<p class="text-center">Laravel</p>
