description = "Footer"
==
<footer class="footer bg-secondary">
  <div class="container-lg">
    <div class="row footer-copyright">
      <div class="col-6">
        <p class="text-left">Site built with <a href="https://octobercms.com/" target="_blank" rel="noopener noreferrer">OctoberCMS</a> | &copy; {{ "now"|date("Y") }}</p>
      </div>
      <div class="col-6 footer-links">
        <ul class="list-inline text-right">
          <li class="list-inline-item">
            <a class="" href="/">Home</a>
          </li>
          <li class="list-inline-item">
            <a class="" href="/posts">Blog</a>
          </li>
          <li class="list-inline-item">
            <a class="" href="/sitemap">Sitemap</a>
          </li>
          <li class="list-inline-item">
            <a class="" href="/rss">RSS Feed</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
