description = "Footer"
==
<footer class="footer bg-secondary">
  <div class="container-lg">
    <div class="row footer-copyright">
      <div class="col-md-6 col-sm-12">
        <p class="text-center text-md-left">Site built with <a href="https://octobercms.com/" target="_blank" rel="noopener noreferrer">OctoberCMS</a> | &copy; {{ "now"|date("Y") }}</p>
      </div>
      <div class="col-md-6 col-sm-12 footer-links bg-secondary">
        <ul class="list-inline text-center text-md-right">
          <li class="list-inline-item">
            <a class="" href="/">Home</a>
          </li>
          <li class="list-inline-item">
            <a class="" href="/posts">Blog</a>
          </li>
          <li class="list-inline-item">
            <a class="" href="/sitemap">Sitemap</a>
          </li>
          <li class="list-inline-item">
            <a class="" href="/rss">RSS Feed</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
