//main: app.scss

.work {
  border-top: 1px dashed $colorBorder;

  .container {
    min-height: 8rem;
  }

  img {
    float: left;
    margin-right: 1rem;
    //display: inline-block;
    height: 8rem;
    width: 8rem;
    object-fit: cover;
  }
}
