//main: app.scss
.footer-copyright {
  height: $footerHeight;

  p {
    line-height: $footerHeight;
    margin: 0;
  }

  a:hover {
    color: $colorText;
  }
}

.footer-links {
  ul {
    margin: 0px;

    li {
      height: $footerHeight;
      line-height: $footerHeight;
    }
  }
}
