description = "The default layout of all blog related pages"
==
<?php
use RainLab\Blog\Models\Category;

  function onStart()
  {
    $this['categories'] = Category::orderBy('name', 'asc')->get();
  }
?>
==
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ this.page.title }} - Gavyn Leavitt Portfolio</title>
    <link href="{{ 'assets/css/app.css'|theme }}" rel="stylesheet">
    {% styles %}
  </head>
  <body>
    {% partial "nav" %}

    <div class="container-lg">
      <div class="row section-wrapper">
        <div class="col-lg-3 col-md-4 col-sm-12 pt-3 min-vh-100 about-me">
          <h3>Categories</h3>
          <ul class="text-text">
            {% for category in categories %}
              <li><a href="/category/{{ category.name }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 pt-2">
          {% page %}
        </div>
      </div>
    </div>

    {% partial "footer" %}
    <!-- Scripts -->
    {% scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
