title = "Category"
url = "/category/:slug/:page?"
layout = "blog"
is_hidden = 0

[blogPosts]
categoryFilter = "{{ :slug }}"
postsPerPage = "10"
==
<?php
function onEnd() {
  if ($this->category) {
    $this->page->title = $this->category->name;
  }
}
?>
==
{% if not category %}
  <h1>Category not found<h1>
{% else %}
  <h1>{{ category.name }}</h1>
  {% for post in posts %}
      {% partial 'postexcerpt' post=post %}
  {% else %}
      <p>{{ __SELF__.noPostsMessage }}</p>
  {% endfor %}

  {% if posts.lastPage > 1 %}
      <ul class="pagination">
          {% if posts.currentPage > 1 %}
              <li><a href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
          {% endif %}

          {% for page in 1..posts.lastPage %}
              <li class="{{ posts.currentPage == page ? 'active' : null }}">
                  <a href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): page }) }}">{{ page }}</a>
              </li>
          {% endfor %}

          {% if posts.lastPage > posts.currentPage %}
              <li><a href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
          {% endif %}
      </ul>
  {% endif %}
{% endif %}
